/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-mar-2019, 20:48:30
    Author     : cetecom
*/

.parrafos{
    font-size: 20px;
    color: red;
    background: white;
    border:1px;
    border-style:solid;
    border-color:black; 
}
.parrafos1{
    font-size: 20px;
    color: white;
    background:brown;
    border:1px;
    border-style:solid;
    border-color:black; 
}

#parrafo1{
    font-size: 20px;
    color: white;
    background:brown;
    border:1px;
    border-style:solid;
    border-color:black;
}
#parrafo2{
    font-size: 20px;
    color: red;
    background: white;
    border:1px;
    border-style:solid;
    border-color:black; 
}
@media (max-width:450px){
  body {
    background-color: lightblue;
  }
    .parrafos{
        font-size:50px;
    }
}